doctype html
html(lang="en")
    head
        link(rel="icon", type="image/x-icon" href="/assets/images/logo_dictionary-rounded.png")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Silamena Dictionary
        link(rel="stylesheet", href="assets/style/main.css")
        link(rel="stylesheet", href="assets/style/phone.css")
    body
        .center(style="flex-direction: column;")
            .navbar
                .title-text
                    img(src="assets/images/logo.png", alt="")
                    h1 Silamena Dictionary
                .search-button
                    img(src="")#word-switch-button
                    img(src="assets/images/search.png", alt="Search Icon")#search-button
                .search-bar
                    img(src="assets/images/back.png", alt="Back button")#back-button
                    input(type="text", name="search", placeholder="Search a word")#search-input
        .add-container
            .add-button
                img(src="assets/images/add.png", alt="")
                h1 Add
        .main-container

            .word-container
                .word-image
                    img(src="assets/images/roles/Cong.png", alt="")
                .word-info
                    .word-title
                        h1 Title
                        h2 translation
                .word-description
                    .word-addit-info
                        h2 Role: interjection
                        h2 Etymology: original
                    .word-description-text
                        p descrizione molto molto lunga quindi sìsadnsadsadn sajnasjdhds sadhjsajhdjhsad saduasdhas djsadns djsadhas djasd
            

            .word-container
                .word-image
                    img(src="assets/images/roles/Cong.png", alt="")
                .word-info
                    .word-title
                        h1 Title
                        h2 translation
                .word-description
                    .word-addit-info
                        h2 Role: interjection
                        h2 Etymology: original
                    .word-description-text
                        p descrizione molto molto lunga quindi sìsadnsadsadn sajnasjdhds sadhjsajhdjhsad saduasdhas djsadns djsadhas djasd
            

            .word-container
                .word-image
                    img(src="assets/images/roles/Cong.png", alt="")
                .word-info
                    .word-title
                        h1 Title
                        h2 translation
                .word-description
                    .word-addit-info
                        h2 Role: interjection
                        h2 Etymology: original
                    .word-description-text
                        p descrizione molto molto lunga quindi sìsadnsadsadn sajnasjdhds sadhjsajhdjhsad saduasdhas djsadns djsadhas djasd
            

            .word-container
                .word-image
                    img(src="assets/images/roles/Cong.png", alt="")
                .word-info
                    .word-title
                        h1 Title
                        h2 translation
                .word-description
                    .word-addit-info
                        h2 Role: interjection
                        h2 Etymology: original
                    .word-description-text
                        p descrizione molto molto lunga quindi sìsadnsadsadn sajnasjdhds sadhjsajhdjhsad saduasdhas djsadns djsadhas djasd
            

            .word-container
                .word-image
                    img(src="assets/images/roles/Cong.png", alt="")
                .word-info
                    .word-title
                        h1 Title
                        h2 translation
                .word-description
                    .word-addit-info
                        h2 Role: interjection
                        h2 Etymology: original
                    .word-description-text
                        p descrizione molto molto lunga quindi sìsadnsadsadn sajnasjdhds sadhjsajhdjhsad saduasdhas djsadns djsadhas djasd
            

            .word-container
                .word-image
                    img(src="assets/images/roles/Cong.png", alt="")
                .word-info
                    .word-title
                        h1 Title
                        h2 translation
                .word-description
                    .word-addit-info
                        h2 Role: interjection
                        h2 Etymology: original
                    .word-description-text
                        p descrizione molto molto lunga quindi sìsadnsadsadn sajnasjdhds sadhjsajhdjhsad saduasdhas djsadns djsadhas djasd
            

            .word-container
                .word-image
                    img(src="assets/images/roles/Cong.png", alt="")
                .word-info
                    .word-title
                        h1 Title
                        h2 translation
                .word-description
                    .word-addit-info
                        h2 Role: interjection
                        h2 Etymology: original
                    .word-description-text
                        p descrizione molto molto lunga quindi sìsadnsadsadn sajnasjdhds sadhjsajhdjhsad saduasdhas djsadns djsadhas djasd
            


    script(src="assets/scripts/search-animation.js")
    script(src="assets/scripts/word-examples-switch.js")