@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
    font-family: "Playwrite DE Grund", cursive;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    -webkit-user-drag: none;
    font-weight: 700;
    font-style: normal;
    user-select: none;
}
body {
    background-color: #538392;
}
.center {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-word-form {
    width: 50%;
    height: auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4A249D;
    border-radius: 10px;
}
#new-word-form input{
    width: 60%;
    height: 40px;
    margin: 0 0 10px;
    padding: 0 10px;
    background-color: #FFF078;
    font-size: 20px;
    border-radius: 3px;
}
#new-word-form select {
    width: calc(60% + 20px);
    height: 40px;
    margin: 0 0 10px;
    cursor: pointer;
    padding: 0 10px;
    background-color: #FFF078;
    font-size: 20px;
    border-radius: 3px;
}
#new-word-form textarea {
    width: 60%;
    height: 200px;
    resize: none;
    margin: 0 0 10px;
    padding: 4px 10px;
    background-color: #FFF078;
    border-radius: 3px;
}

#back {
    position: fixed;
    width: 40px;
    margin: 40px;
    cursor: pointer;
}
#back:hover {
    transform: scale(1.05);
}
#submit:hover {
    transform: translateY(-2px);
}